{% extends 'layout.html.twig' %}

{% block body %}

<form action="/">

    <div class="field"><label for="query">Search Tumblr for</label>
        <input type="text" name="query" value="{{ query }}"></div>
    <div class="field"><input type="submit" value="Create GifStream"></div>
</form>

{% if query %}
<h3>GifStream for <i>{{ query }}</i></h3>
<ul>
    {% set url = app.url_generator.generate('gifstream', { 'query': query|url_encode }, true) %}
    <li><a href="{{ url }}">Direct link</a></li>
    <li><a href="gifstream://{{ url }}">Open in GifStream</a></li>
</ul>
{% endif %}

{% endblock body %}
