<html>
<head>
    <title>Tumblr GifStreams</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/gifstream.css">
</head>
<body>

<header class="container">
    <h1>Tumblr GifStreams</h1>
</header>

<div class="container">
    {% block body %}{% endblock body %}
</div>

<footer class="container footer">
    <p>Handcrafted in Vienna by <a href="http://florian.ec">Florian Eckerstorfer</a>.</p>
</footer>

</body>
</html>
