@import "normalize";

a {
    &:link, &:active, &:visited {
        color: blue;
    }
    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    margin-bottom: 1.34em;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    h1 {
        margin-bottom: 0;
    }
    .tagline {
        color: #666;
    }
}

.footer {
    margin-top: 35px;
    border-top: 1px solid #ccc;
    font-size: 85%;
}

form {
    .field {
        margin: 10px 0;
    }
}
